@media (min-width: 768px) {
  .mode-icon {
    width: 26px;
    height: 26px;
    filter: contrast(1);

    &:hover {
      filter: contrast(1.5);
    }
  }
}

.mode-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
