/* You can add global styles to this file, and also import other style files */
@use 'styles/fonts';
@use 'styles/variables';

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-primary);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1 {
  color: var(--very-light-gray);
  font-size: 28px;
  letter-spacing: 0.35em;
  margin-bottom: 30px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 40px;
    letter-spacing: 0.5em;
    margin-bottom: 50px;
  }
}

button {
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
}
