.preset-list {
  margin-block: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 0.625rem;
  grid-auto-rows: minmax(6.25rem, auto);

  @media (min-width: 768px) {
    margin-block: 1.875rem 3.75rem;
  }
}

.new-preset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.new-preset-input {
  padding: 16px 18px;

  @media (min-width: 768px) {
    padding: 22px 25px;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.new-preset-label {
  flex: 1;
}

.new-preset-btn {
  align-self: stretch;
}
