<h1>Presets</h1>

<div class="new-preset">
  <label class="new-preset-label" for="newPreset">
    <input
      #newItem
      type="text"
      class="new-preset-input app-input"
      placeholder="New preset name"
      id="newPreset"
      [formControl]="newPreset"
    />
  </label>
  <button
    (click)="createPreset()"
    class="new-preset-btn app-btn-primary"
    type="button"
  >
    Create preset
  </button>
</div>

@if (!store.loading()) {
  <div class="preset-list">
    @for (preset of store.presets(); track preset._id) {
      <app-preset-card [preset]="preset" />
    }
  </div>
}
