:host {
  display: flex;
  position: relative;
}

.new-todo-input {
  font-family: inherit;
  color: var(--content-primary);
  border-radius: var(--radius-xs);
  width: 100%;
  padding: 1rem 1.125rem 1rem 3.125rem;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-secondary);

  @media (min-width: 768px) {
    padding: 1.375rem 1.5625rem 1.375rem 3.875rem;
  }
}

.new-todo-input::placeholder {
  color: var(--content-muted);
}

.new-todo-input::placeholder,
.new-todo-input {
  font-size: 12px;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 18px;
    font-weight: 400;
  }
}

.new-todo-label {
  width: 100%;
}

.new-todo-checkbox {
  width: 20px;
  display: block;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: var(--border);
  left: 16px;
  z-index: 1;
  top: calc(50% - 10px);

  @media (min-width: 768px) {
    width: 1.5625rem;
    height: 1.5625rem;
    left: 20px;
    top: calc(50% - 12.5px);
  }
}
