<form class="form" (submit)="$event.preventDefault()">
  <h1 class="title">{{ title }}</h1>

  @if (!loading()) {
    <app-new-task
      (newTask)="addTask(newTaskControl.value)"
      [hasCheckbox]="true"
      [formControl]="newTaskControl"
    />

    <div cdkDropList (cdkDropListDropped)="reorderTasks($event)" class="list">
      @for (taskForm of tasksForm.controls; track $index) {
        <app-task
          (taskUpdate)="handleTaskUpdate($event, $index)"
          [formControl]="taskForm.controls.done"
          [task]="taskForm.getRawValue()"
        />
      }
      <footer class="footer">
        <div>{{ tasksLeft() }} tasks left</div>

        <div class="filters-lg">
          <ng-container
            [ngTemplateOutlet]="filtersTemplate"
            [ngTemplateOutletContext]="{
              $implicit: filters,
              idPrefix: 'lg-',
            }"
          />
        </div>

        <button type="button" class="clear-button app-btn-txt" (click)="clearCompleted()">
          Clear Completed
        </button>
      </footer>
    </div>

    <div class="filters-sm">
      <ng-container
        [ngTemplateOutlet]="filtersTemplate"
        [ngTemplateOutletContext]="{
          $implicit: filters,
          idPrefix: 'sm-',
        }"
      />
    </div>

    <p class="info">Drag and drop to reorder list</p>
  }
</form>

<ng-template #filtersTemplate let-filters let-idPrefix="idPrefix">
  <fieldset class="filters">
    @for (filter of filters; track filter) {
      <label
        class="filter"
        [class.selected-filter]="filter === selectedFilter()"
        [for]="idPrefix + filter"
        (click)="filterTasks(filter)"
      >
        <input
          type="radio"
          [formControl]="filterControl"
          [value]="filter"
          [id]="idPrefix + filter"
        />
        {{ filter }}
      </label>
    }
  </fieldset>
</ng-template>
