<form class="form">
  <h1 class="title">{{ title }}</h1>

  <app-new-task
    (newTask)="addNewTask(newTaskControl.value)"
    [hasCheckbox]="true"
    [formControl]="newTaskControl"
  />

  <div cdkDropList (cdkDropListDropped)="reorderTasks($event)" class="list">
    @for (task of store.filteredTasks(); track $index) {
      <app-task
        (taskUpdate)="handleTaskUpdate($event)"
        [formControl]="taskStatusMap.get(task.description)!"
        [task]="task"
        [id]="'task-' + $index"
      />
    }
    <footer class="footer">
      @if (store.undoneTasks() !== 0) {
        <div>{{ store.undoneTasks() }} tasks left</div>
      }

      <div class="filters-lg">
        <ng-container
          [ngTemplateOutlet]="filtersTemplate"
          [ngTemplateOutletContext]="{
            $implicit: filters,
            idPrefix: 'lg-',
          }"
        />
      </div>

      <button
        type="button"
        class="app-btn-txt"
        (click)="store.clearCompleted()"
      >
        Clear Completed
      </button>
    </footer>
  </div>

  <div class="filters-sm">
    <ng-container
      [ngTemplateOutlet]="filtersTemplate"
      [ngTemplateOutletContext]="{
        $implicit: filters,
        idPrefix: 'sm-',
      }"
    />
  </div>

  <p class="info">Drag and drop to reorder list</p>
</form>

<ng-template #filtersTemplate let-filters let-idPrefix="idPrefix">
  <div class="filters">
    @for (filter of filters; track filter) {
      <label
        class="filter"
        [class.selected-filter]="filter === store.selectedFilter()"
        [for]="idPrefix + filter"
        (click)="store.filterTasks(filter)"
      >
        <input
          type="radio"
          [formControl]="filterControl"
          [value]="filter"
          [id]="idPrefix + filter"
        />
        {{ filter }}
      </label>
    }
  </div>
</ng-template>
