<div cdkDrag class="task app-input" [class.has-checkbox]="isInteractive">
  @if (isInteractive) {
    <label [for]="id()">
      <span class="task-checkbox"></span>
      <input
        type="checkbox"
        [id]="id()"
        (change)="toggleDone()"
        [formControl]="taskControl"
      />

      {{ task().description }}
    </label>
  } @else {
    {{ task().description }}
  }

  <span class="remove-button" (click)="deleteTask()">
    <img
      ngSrc="assets/images/icon-cross.svg"
      alt="Remove task."
      width="12"
      height="12"
    />
  </span>
</div>
