<h3>{{ preset().title }}</h3>
<div class="tasks">{{ tasks() }}</div>
@if (preset()._id; as presetId) {
  <div class="actions">
    <!-- TODO: Applies the selected preset to the current to-do list -->
    <button class="activate-btn app-btn-ghost" type="button">
      <img
        class="icon"
        ngSrc="assets/images/toggle_on.svg"
        width="20"
        height="20"
        alt="Toggle icon."
      />
      Activate
    </button>

    <a class="edit-btn app-btn-ghost" type="button" [routerLink]="[presetId]">
      <img
        class="icon"
        ngSrc="assets/images/edit.svg"
        width="20"
        height="20"
        alt="Edit icon."
      />
      Edit
    </a>

    <app-modal class="delete-btn" [presetId]="presetId" />
  </div>
}
