<form (submit)="$event.preventDefault(); handleLogin($event)">
  <input
    #usernameInput
    type="text"
    name="username"
    placeholder="Username"
    required
    autocomplete="on"
    class="app-input"
  />
  <input
    #passwordInput
    type="password"
    name="password"
    placeholder="Password"
    required
    class="app-input"
  />
  <button
    class="app-btn-primary login-button"
    type="submit"
    [disabled]="loading()"
  >
    @if (showSpinner()) {
      <span class="spinner"></span>
    } @else {
      <img
        class="login-icon"
        ngSrc="assets/images/login.svg"
        width="20"
        height="20"
      />
    }
    <span class="login-label">Login</span>
  </button>
</form>
@if (errorMessage(); as errorMessage) {
  <p class="error">{{ errorMessage }}</p>
}

<div class="demo-credentials">
  <h2 class="info">Demo Credentials</h2>
  <dl>
    <div class="demo-credentials-item">
      <dt><strong>Username:</strong></dt>
      <dd>demo_user</dd>
      <button
        type="button"
        appCopyButton
        (copied)="handleCopiedUsername($event, usernameInput)"
        cdkCopyToClipboard="demo_user"
        class="copy-button app-btn-txt"
      >
        <img ngSrc="assets/images/copy.svg" alt="Copy" width="20" height="20" />
      </button>
      @if (usernameCopied()) {
        <span class="success">Copied!</span>
      }
    </div>
    <div class="demo-credentials-item">
      <dt><strong>Password:</strong></dt>
      <dd>password123</dd>

      <button
        type="button"
        appCopyButton
        (copied)="handleCopiedPassword($event, passwordInput)"
        cdkCopyToClipboard="password123"
        class="copy-button app-btn-txt"
      >
        <img ngSrc="assets/images/copy.svg" alt="Copy" width="20" height="20" />
      </button>
      @if (passwordCopied()) {
        <span class="success">Copied!</span>
      }
    </div>
  </dl>
</div>
