<form (submit)="$event.preventDefault(); handleLogin($event)">
  <input
    type="text"
    name="username"
    placeholder="Username"
    required
    class="app-input"
  />
  <input
    type="password"
    name="password"
    placeholder="Password"
    required
    class="app-input"
  />
  <button
    class="app-btn-primary login-button"
    type="submit"
    [disabled]="loading()"
  >
    @if (showSpinner()) {
      <span class="spinner"></span>
    } @else {
      <img
        class="login-icon"
        ngSrc="assets/images/login.svg"
        width="20"
        height="20"
      />
    }
    <span>Login</span>
  </button>
</form>
@if (errorMessage(); as errorMessage) {
  <p class="error">{{ errorMessage }}</p>
}

<div class="demo-credentials">
  <h2 class="info">
    <img
      class="info-icon"
      ngSrc="assets/images/info.svg"
      width="24"
      height="24"
    />
    Demo Credentials
  </h2>
  <p>
    <strong>Username:</strong> demo_user
    <button type="button" class="app-btn-txt" (click)="copyText('username')">
      <img
        class="copy-icon"
        ngSrc="assets/images/copy.svg"
        width="20"
        height="20"
        cdkCopyToClipboard="demo_user"
      />
    </button>

    @if (showSuccessMessage().username) {
      <span class="success">Copied!</span>
    }
  </p>
  <p>
    <strong>Password:</strong> password123
    <button type="button" class="app-btn-txt" (click)="copyText('password')">
      <img
        class="copy-icon"
        ngSrc="assets/images/copy.svg"
        width="20"
        height="20"
        cdkCopyToClipboard="password123"
      />
    </button>
    @if (showSuccessMessage().password) {
      <span class="success">Copied!</span>
    }
  </p>
</div>
