:host {
  display: block;
  max-width: 25rem;
  margin-inline: auto;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 0.5rem;
  padding: 0.75rem;

  @media (min-width: 768px) {
    margin-bottom: 0.625rem;
    padding: 1rem;
  }
}

.login-button,
.info {
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
}

.login-button {
  justify-content: center;
  margin-top: 0.5rem;

  @media (min-width: 768px) {
    margin-top: 1rem;
    padding: 0.75rem;
  }
}

.spinner,
.login-icon {
  width: 1rem;

  @media (min-width: 768px) {
    width: 1.25rem;
  }
}

.copy-icon {
  cursor: pointer;
  margin-left: 0.3125rem;
}

.info-icon,
.copy-icon {
  width: 1.25rem;

  @media (min-width: 768px) {
    width: 1.35rem;
  }
}

.success {
  margin-left: 0.3125rem;
  color: var(--very-dark-grayish-blue-light);
}

.error {
  color: var(--background-destructive);
  text-align: center;
  padding-top: 0.625rem;
}

.demo-credentials {
  color: var(--content-primary);
  background-color: var(--background-secondary);
  border: var(--border);
  border-radius: var(--radius-md);
  margin-top: 3rem;
  padding: 1rem 0.75rem;

  @media (min-width: 768px) {
    margin-top: 5rem;
    padding: 1.5rem 1.2rem;
  }

  p {
    font-size: 0.75rem;
    margin-bottom: 0.6rem;

    @media (min-width: 768px) {
      font-size: 0.9375rem;
      margin-bottom: 0.85rem;
    }
  }
}

.spinner {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #0000;
  border-right-color: var(--content-disabled);
  position: relative;
  animation: loading 1s infinite linear;
}

.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}

.spinner:after {
  animation-duration: 4s;
}

@keyframes loading {
  100% {
    transform: rotate(1turn);
  }
}
