@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/JosefinSans-Regular.woff2') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/JosefinSans-Bold.woff2') format('woff');
  font-display: swap;
}