:host {
  position: relative;
  display: block;
}

.main {
  min-height: 100vh;
  padding-top: 6rem;

  @media (min-width: 768px) {
    padding-top: 7.5rem;
  }
}

.banner {
  content: '';
  display: block;
  position: fixed;
  width: 100%;
  height: 15.625rem;
  inset: 0;
  z-index: -2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.75);

  @media (min-width: 768px) {
    height: 21.875rem;
  }
}

:host-context(.app-dark-mode) .banner {
  background-image: url('../assets/images/banner-mobile-dark.jpg');

  @media (min-width: 768px) {
    background-image: url('../assets/images/banner-desktop-dark.jpg');
  }
}

:host-context(.app-light-mode) .banner {
  background-image: url('../assets/images/banner-mobile-light.jpg');

  @media (min-width: 768px) {
    background-image: url('../assets/images/banner-desktop-light.jpg');
  }
}
