.preset-name {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.preset-label {
  color: var(--content-primary);
}

.preset-title,
.tasks-title {
  z-index: -1;
  position: relative;
  display: flex;
  overflow: hidden;
  background-image: var(--check-background);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: brightness(1.15) hue-rotate(45deg) saturate(1.25);
}

.tasks {
  overflow: hidden;
  background-color: var(--background-secondary);
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-sm);
}

.preset-name,
.tasks {
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
}

.new-task {
  box-shadow: var(--shadow-lg);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  margin-block: 2rem;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
  }

  @media (min-width: 768px) {
    margin-block: 3.75rem;
  }
}

.cancel {
  text-decoration: none;
}

.info {
  font-size: 0.8125rem;
  font-weight: 700;
  text-align: center;
  color: var(--content-muted);

  @media (min-width: 768px) {
    font-size: 0.875rem;
  }
}
