<form class="preset-form">
  <h1>Edit preset</h1>

  @if (!loading()) {
    <div class="preset-name">
      <label class="preset-label" for="presetName">
        <h2 class="preset-title">Preset Name</h2>
      </label>
      <input
        #presetName
        type="text"
        class="preset-input app-input"
        id="presetName"
        [formControl]="titleControl"
      />
    </div>

    <h2 class="tasks-title">Tasks</h2>
    <div cdkDropList (cdkDropListDropped)="reorderTasks($event)" class="tasks">
      @for (taskForm of tasksForm.controls; track $index) {
        <app-preset-task
          [index]="$index"
          [task]="taskForm.getRawValue()"
          (taskDeleted)="deleteTask($event)"
        />
      }
    </div>

    <app-new-task
      class="new-task"
      [hasCheckbox]="false"
      [formControl]="newTaskControl"
      (taskAdded)="addTask($event)"
    />

    <div class="actions">
      <a class="app-btn-destructive cancel" routerLink=".."> Cancel </a>
      <button type="button" class="app-btn-ghost" (click)="savePreset()">
        Save Preset
      </button>
    </div>
  }
</form>

<p class="info">Drag and drop to reorder list</p>
