.presets {
  margin-block: 16px;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--background-secondary);
  box-shadow: var(--shadow-md);

  @media (min-width: 768px) {
    margin-block: 30px 60px;
  }
}

.preset {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: var(--content-primary);
  background-color: var(--background-secondary);

  @media (min-width: 768px) {
    font-size: 18px;
    font-weight: 400;
  }
}

.preset-details {
  flex: 1;
}

.preset-summary {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  color: var(--content-primary);
}

.preset:not(:last-of-type) {
  border-bottom: var(--border);
}

.tasks {
  border-top: var(--border);
}

.tasks,
.preset-summary {
  padding: 16px 18px 16px 50px;

  @media (min-width: 768px) {
    padding: 22px 25px 22px 62px;
  }
}

.actions {
  display: flex;
  column-gap: 10px;
}

[type='button'] {
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
  color: var(--content-muted);

  @media (min-width: 768px) {
    font-size: 15px;
  }
}
