<div
  cdkDrag
  [cdkDragStartDelay]="100"
  class="task app-input has-checkbox prevent-select"
>
  <label [for]="task()._id">
    <span class="task-checkbox"></span>
    <input
      type="checkbox"
      [id]="task()._id"
      (change)="toggleTask()"
      [formControl]="taskControl"
    />
    {{ task().description }}
  </label>

  <span class="remove-button" (click)="deleteTask()">
    <img
      ngSrc="assets/images/icon-cross.svg"
      alt="Remove task."
      width="12"
      height="12"
    />
  </span>
</div>
