:host {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: var(--background-secondary);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.nav-list,
.nav-extra {
  display: flex;
  align-items: center;

  > * {
    display: flex;
  }
}

.logout-button,
.nav-link {
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  white-space: nowrap;

  @media (min-width: 768px) {
    font-size: 0.875rem;
  }
}

.nav-item {
  padding: 0.25rem 0.5rem;

  @media (min-width: 768px) {
    padding: 0.5rem 0.75rem;
  }
}

.nav-link {
  position: relative;
  color: var(--content-primary);

  &:after {
    content: '';
    background: none repeat scroll 0 0 transparent;
    background-color: var(--content-primary);
    bottom: -0.15em;
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }

  &.active:after,
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.logout-button {
  color: var(--content-primary);
  background-color: var(--background-secondary);
  border: var(--border);
  border-radius: var(--radius-sm);
  padding: 0.5rem;
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    border-radius: var(--radius-md);
  }

  &:hover {
    color: var(--content-hover);
    background-color: var(--border-color);
  }
}
