:host {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: var(--background-secondary);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  width: min(100% - 40px, 560px);
  margin-inline: auto;
}

.nav-list,
.nav-extra {
  display: flex;
  column-gap: 2rem;
}

.nav-item {
  display: inline-flex;
  align-items: center;
}

.logout-button,
.nav-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.nav-link {
  position: relative;
  color: var(--content-primary);

  @media (min-width: 768px) {
    font-size: 15px;
  }

  &:after {
    content: '';
    background: none repeat scroll 0 0 transparent;
    background-color: var(--content-primary);
    bottom: -0.15em;
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }

  &.active:after,
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.logout-button {
  display: flex;
  color: var(--content-primary);
  background-color: var(--background-secondary);
  border: var(--border);
  border-radius: 4px;
  padding: 8px;
}
