<div cdkDrag class="todo-item app-input" [class.has-checkbox]="isInteractive">
  <label [for]="id()">
    @if (isInteractive) {
      <span class="todo-item-checkbox"></span>
      <input
        type="checkbox"
        [id]="id()"
        (change)="toggleDone()"
        [formControl]="todoControl"
      />
    }

    {{ item().description }}
  </label>

  <span class="remove-button" (click)="deleteTodo()">
    <img
      ngSrc="assets/images/icon-cross.svg"
      alt="Remove item."
      width="12"
      height="12"
    />
  </span>
</div>
