/* You can add global styles to this file, and also import other style files */
@import 'styles/fonts';
@import 'styles/variables';

html {
  scroll-behavior: smooth;

  &.app-dark-mode body {
    background-color: var(--very-dark-blue);
  }

  &.app-light-mode body {
    background-color: #fff;
  }
}

body {
  height: 100%;
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
