<form class="form">
  <h1 class="title">{{ title }}</h1>

  <app-new-todo
    (newTodo)="addNewTodo(newTodoControl.value)"
    [formControl]="newTodoControl"
  />

  <div
    cdkDropList
    (cdkDropListDropped)="reorderTodos($event)"
    class="todo-list"
  >
    @for (item of store.filteredItems(); track $index) {
      <app-todo-item
        (todoUpdate)="handleTodoUpdate($event)"
        [formControl]="todoStatusMap.get(item.description)!"
        [item]="item"
        [id]="$index + '-todo-item'"
      />
    }
    <footer class="footer">
      @if (store.undoneItems() !== 0) {
        <div>{{ store.undoneItems() }} items left</div>
      }

      <div class="filters-lg">
        <ng-container
          [ngTemplateOutlet]="filtersTemplate"
          [ngTemplateOutletContext]="{
            $implicit: filters,
            idPrefix: 'lg-',
          }"
        />
      </div>

      <button
        type="button"
        class="app-btn-txt"
        (click)="store.clearCompleted()"
      >
        Clear Completed
      </button>
    </footer>
  </div>

  <div class="filters-sm">
    <ng-container
      [ngTemplateOutlet]="filtersTemplate"
      [ngTemplateOutletContext]="{
        $implicit: filters,
        idPrefix: 'sm-',
      }"
    />
  </div>

  <p class="info">Drag and drop to reorder list</p>
</form>

<ng-template #filtersTemplate let-filters let-idPrefix="idPrefix">
  <div class="filters">
    @for (filter of filters; track filter) {
      <label
        class="filter"
        [class.selected-filter]="filter === store.selectedFilter()"
        [for]="idPrefix + filter"
        (click)="store.filterItems(filter)"
      >
        <input
          type="radio"
          [formControl]="filterControl"
          [value]="filter"
          [id]="idPrefix + filter"
        />
        {{ filter }}
      </label>
    }
  </div>
</ng-template>
