<form class="form" [formGroup]="formGroup">
  <h1 class="title">{{ title }}</h1>

  <label class="new-item-label" for="addItemInput">
    <span class="new-item-checkbox"></span>
    <input
      #newItem
      type="text"
      class="new-item"
      placeholder="Create a new todo..."
      (keyup.enter)="store.addItem(newItem.value); newItem.value = ''"
      id="addItemInput"
    />
  </label>

  <div cdkDropList (cdkDropListDropped)="drop($event)" class="todo-list">
    @for (item of store.filteredItems(); track $index) {
      <app-todo-item [item]="item" [id]="$index + '-todo-item'" />
    }
    <footer class="footer">
      @if (store.undoneItems() !== 0) {
        <div>{{ store.undoneItems() }} items left</div>
      }

      <div class="filters-lg">
        <ng-container
          [ngTemplateOutlet]="filtersTemplate"
          [ngTemplateOutletContext]="{
            $implicit: filters,
            form: formGroup,
            idPrefix: 'lg-',
          }"
        />
      </div>

      <button
        type="button"
        class="app-btn-txt"
        (click)="store.clearCompleted()"
      >
        Clear Completed
      </button>
    </footer>
  </div>

  <div class="filters-sm">
    <ng-container
      [ngTemplateOutlet]="filtersTemplate"
      [ngTemplateOutletContext]="{
        $implicit: filters,
        form: formGroup,
        idPrefix: 'sm-',
      }"
    />
  </div>

  <p class="info">Drag and drop to reorder list</p>
</form>

<ng-template
  #filtersTemplate
  let-filters
  let-form="form"
  let-idPrefix="idPrefix"
>
  <div class="filters">
    @for (filter of filters; track filter) {
      <label
        class="filter"
        [class.selected-filter]="filter === store.selectedFilter()"
        [for]="idPrefix + filter"
        (click)="store.filterItems(filter)"
      >
        <input
          type="radio"
          [formControl]="form.get('filterControl')"
          [value]="filter"
          [id]="idPrefix + filter"
        />
        {{ filter }}
      </label>
    }
  </div>
</ng-template>
